.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    font-family: sans-serif;
}

.logo {
    margin: 2em;
    font-size: 24px;
    color: #f9faf8;
}

#container {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #e5e7eb;
    margin: 2em;
}

#main {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
}

#hero_main_text {
    color:#f9faf8;
    font-size: 32px;
    font-weight: 800;
    margin: 2em;
}